[submodule "retro/U-2-Net"]
	path = retro/U-2-Net
	url = https://github.com/xuebinqin/U-2-Net.git
[submodule "retro/DIS"]
	path = retro/DIS
	url = https://github.com/xuebinqin/DIS.git
[submodule "retro/Wav2Lip"]
	path = retro/Wav2Lip
	url = https://github.com/Rudrabha/Wav2Lip.git
[submodule "retro/SadTalker"]
	path = retro/SadTalker
	url = https://github.com/OpenTalker/SadTalker
