redis~=4.4.2
Pillow~=9.4.0
fastapi~=0.89.1
sentry-sdk~=1.14.0

# pytorch
--extra-index-url https://download.pytorch.org/whl/cu116
torch==1.13.1+cu116
torchvision==0.14.1+cu116
torchaudio==0.13.1+cu116

# xformers
xformers==0.0.16
triton==2.0.0.dev20221202

# huggingface diffusers
diffusers~=0.12.0
transformers~=4.25.1
accelerate~=0.15.0

scipy~=1.10.0
