## nvidia NeMo
nemo_toolkit[asr] ~= 1.20.0
huggingface-hub==0.23.2  # version pinning needed for NeMo

## pytorch
--extra-index-url https://download.pytorch.org/whl/cu116
torch==1.13.1+cu116
torchvision==0.14.1+cu116
torchaudio==0.13.1+cu116
